@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        ASP.NET Core 5
        <br />
    </h1>
    <h1>
        <strong>Entity Framework Core</strong>
    </h1>
    <br />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
